.main {
  min-height: 100vh;
  padding: 2rem;
  background-color: #f4f7fa;
  display: grid;
  place-items: center;
}

.lg-wp {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.lg-wp button {
  padding: .75em 1em;
  background-color: #7890f0;
  color: #fff;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.lg-wp button:hover , .lg-wp button:focus {
  background-color: #346df0;
}

.lg-wp button:disabled {
  background-color: #454590;
}